{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body p-4 text-center">
                <h1 class="card-title h3 mb-4 text-success">Password Changed Successfully</h1>
                <p class="mb-4">Your password has been successfully updated.</p>
                <a href="{% url 'observation-list' %}" class="btn btn-success text-white fw-bold">Return to Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
